<li class="nav-item active">
	<%= link_to admin_managers_path, class: "nav-link" do %>
		<i class="fas fa-fw fa-tachometer-alt"></i>
		<span>Manager</span>
	<% end %>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
		
</div>


<!-- Nav Item - Charts -->
<li class="nav-item">
	<%= link_to admin_managers_games_path, class: "nav-link" do %>
		<i class="fas fa-fw fa-chart-area"></i>
		<span>Games</span>
	<% end %>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
	<%= link_to admin_managers_players_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-users"></i>
		<span>Team Menbers</span>
	<% end %>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo">
				<i class="fas fa-fw fa-cog"></i>
				<span>Setting</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Custom Setting:</h6>
						<a class="collapse-item" href="#">Payment</a>
						<%= link_to "Logout", destroy_manager_session_path, class: "collapse-item", method: :delete %>
				</div>
		</div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
