<li class="nav-item active">
  <%= link_to root_path, class: "nav-link" do %>
		<i class="fas fa-fw fa-tachometer-alt"></i>
		<span>Guest</span>
	<% end %>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
