<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-futbol"></i>
		</div>
		<div class="sidebar-brand-text mx-3">SAKA MANE</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<% if manager_signed_in? %>
		<%= render 'layouts/admin_sidebar' %>
	<% elsif player_signed_in? %>
		<%= render 'layouts/player_sidebar' %>
	<% else %>
		<%= render 'layouts/guest_sidebar' %>
	<% end %>

</ul>
<!-- End of Sidebar -->